#builder > section.team {
  .item {
    min-height: 100%;
    background: #FCF6F2;
    .image {
      background: darken(#FCF6F2, 10%);
      aspect-ratio: 150 / 115;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
      }
    }
    .content {
      padding: 1rem;
      p {
        font-size: 0.9em;
      }
    }
  }

}