// Bootstrap
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);


$xl-down: "max-width: " + (map-get($grid-breakpoints, 'xxl')-1);
$lg-down: "max-width: " + (map-get($grid-breakpoints, 'xl')-1);
$md-down: "max-width: " + (map-get($grid-breakpoints, 'lg')-1);
$sm-down: "max-width: " + (map-get($grid-breakpoints, 'md')-1);
$xs-down: "max-width: " + (map-get($grid-breakpoints, 'sm')-1);

$xxl-up: "min-width: " + map-get($grid-breakpoints, 'xxl');
$xl-up: "min-width: " + map-get($grid-breakpoints, 'xl');
$lg-up: "min-width: " + map-get($grid-breakpoints, 'lg');
$md-up: "min-width: " + map-get($grid-breakpoints, 'md');
$sm-up: "min-width: " + map-get($grid-breakpoints, 'sm');
$xs-up: "min-width: " + map-get($grid-breakpoints, 'xs');

$theme-colors: (
        "white": #FFFFFF,
        "color1": #495A69,
        "color2": #2E4C77,
        "color3": #6ED0D8,
        "color4": #E42085,
        "color5": #F1F8FA,
        "theme1": #81C8D7,
        "theme2": #6DB886,
        "theme3": #EBE452,
        "theme4": #E68853,
        "theme5": #7A2063,
        "theme6": #19848F
);

$bg-colors: (
        "theme1": #FCF6F2,
        "theme2": #FCF6F2,
        "theme3": #F6F7F1,
        "theme4": #F5F9F8,
        "theme5": #F6F7F1,
        "theme6": #F6F7F1,
);

$border-radius: 0;
$border-radius-sm: $border-radius;
$border-radius-lg: $border-radius;

$btn-border-radius: 100vh;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;

$input-btn-padding-x: 28px;
$input-btn-padding-y: 15px;

$spacer: 2rem;
$spacers: (
        0: 0,
        1: $spacer * 1,
        2: $spacer * 2,
        3: $spacer * 3,
        4: $spacer * 4,
        5: $spacer * 5,
);

$grid-gutter-width: 3rem;

$link-decoration: none;

$breadcrumb-divider: quote(">");

$table-border-color: lighten(black, 90%);
$table-group-separator-color: darken($table-border-color, 10%);

// Custom
$body-text: map-get($theme-colors, 'color1');
$body-bg: white;


