.login {
  background: #170036 url("data:image/svg+xml,%0A%3Csvg height='1031' viewBox='0 0 1800 1031' width='1800' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3CclipPath id='a'%3E%3Cpath d='m0 0h1800v1031h-1800z'/%3E%3C/clipPath%3E%3ClinearGradient id='b' gradientUnits='objectBoundingBox' x1='.485' x2='.505' y1='.244' y2='.686'%3E%3Cstop offset='0' stop-color='%23310073'/%3E%3Cstop offset='1' stop-color='%23170036'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='.481' x2='.528' xlink:href='%23b' y1='.216' y2='.596'/%3E%3ClinearGradient id='d' gradientUnits='objectBoundingBox' x1='.468' x2='.565' y1='.344' y2='.828'%3E%3Cstop offset='0' stop-color='%233c2d7a'/%3E%3Cstop offset='.153' stop-color='%23332668'/%3E%3Cstop offset='.512' stop-color='%23221a46'/%3E%3Cstop offset='.808' stop-color='%23171230'/%3E%3Cstop offset='1' stop-color='%23141029'/%3E%3C/linearGradient%3E%3Cg clip-path='url(%23a)'%3E%3Cg transform='matrix(-.53 -.848 .848 -.53 1791.757 2647.923)'%3E%3Cpath d='m4.171 1598.2c89.421 119.876 286.21 94.835 454.444.234s314.19-226.176 468.815-360.659c224.9-195.605 388.191-370.718 635.423-435.988 134.065-35.393 250.2-.7 371.431 9.07 113.856 9.183 245.194-22.582 364.017-111.032 92.964-69.2 170.941-166.775 240.872-266.038s134.412-202.849 211.705-296.128c67.292-81.2 146.324-155.479 231.788-195.394 60.3-28.168 121.363-37.6 176-31.14 23.616 2.791 45.794 8.32 65.878 18.306 10.323 5.132 57.86 27.089 55.389 43.508l-192.946 1285.932-3139.259 588.347z' fill='url(%23b)' opacity='.55'/%3E%3Cpath d='m2393.328-46.754c-135.167 41.959-273.2 130.792-388.293 248.217-93.7 95.595-174.157 210.309-277.835 288.794-242.853 183.843-470.32 90.764-703.531 145.943-623.369 147.479-667.435 544.828-1046.941 661.766-232.334 71.589 2325.556-142.329 2325.556-142.329s31.463-80.906 77.984-200.533l175.684-1031.677c-52.552 2.62-107.598 12.735-162.624 29.819z' fill='url(%23c)' transform='matrix(.999 -.035 .035 .999 563.849 428.31)'/%3E%3Cpath d='m1917.266-57.263c-73.622-.29-159.171 26.578-236.9 69.55-118.787 65.67-222.875 163.635-319.587 262.793s-190.154 202.734-299.317 288.553c-130.731 102.767-281.352 176.534-426.312 208.775-91.262 20.3-180.572 24.679-272.646 55.914-145.288 49.291-288.37 167.678-366.278 303.078l-35.4 207.882 1778.838-353.6z' fill='url(%23d)' transform='matrix(.999 -.035 .035 .999 1128.203 521.323)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat top center;
  background-size: cover;
  color: #58606b;

  #nav, #backtoblog {
    a {
      color: white;
    }
  }

  div#login {

    h1 {

      a {
        filter: brightness(100) grayscale(100);
      }
    }

    form#loginform {

      p {

        label {

        }
      }

      input {

      }

      input#user_login {

      }

      input#user_pass {

      }

      p.forgetmenot {

        input#rememberme {

        }
      }

      p.submit {

        input#wp-submit {

        }
      }
    }

    #nav {

      a {

      }
    }

    #backtoblog {

      a {

      }
    }

    #poweredby {

      a {
        color: #58606b;
      }
    }
  }
}
